Repository WordPress/twentytwentytwo, pull requests merged in 2021-11, with the labels that each got.

#164 Add sidebar patterns
  inc/block-patterns.php
  inc/patterns/page-sidebar-blog-posts.php
  inc/patterns/page-sidebar-grid-posts.php
Labels: [Type] Enhancement, [Component] Block Patterns

#196 Hide 404 pattern from inserter
  block-templates/404.html
  inc/block-patterns.php
  inc/patterns/hidden-404.php
Labels: [Component] Block Patterns

#183 Add the bird image to the homepage header
  block-template-parts/header-large-dark.html
  inc/block-patterns.php
  inc/patterns/hidden-heading-and-bird.php
Labels: [Type] Enhancement, [Component] Block Templates

#197 Add schema support
  theme.json
Labels: [Component] Theme.json, [Type] Code Quality

#207 Don't inline style.css, but enqueue it.
  functions.php
Labels: [Status] Needs Decision

#204 Add additional block patterns
  assets/images/flight-path-on-gray-c.jpg
  assets/images/icon-binoculars.png
  assets/images/icon-bird.jpg
  inc/block-patterns.php
  inc/patterns/general-large-list-names.php
  inc/patterns/general-list-events.php
  inc/patterns/general-video-header-details.php
  inc/patterns/header-image-background-overlay.php
  inc/patterns/header-image-background.php
  inc/patterns/page-about-links-dark.php
  inc/patterns/page-about-links.php
  inc/patterns/page-sidebar-blog-posts-right.php
  inc/patterns/page-sidebar-poster.php
Labels: [Type] Enhancement, [Component] Block Patterns

#220 Add font smoothing + text link styles
  functions.php
  style.css
Labels: [Type] Enhancement

#232 Fix date wrapping for Image Grid Posts Query Pattern
  inc/patterns/query-image-grid.php
Labels: [Type] Bug, [Component] Block Patterns

#235 Try adding simple search + file button styles
  functions.php
  style.css
Labels: [Type] Enhancement

#237 Adjust the background dim on "Header with image background" pattern
  inc/patterns/header-image-background.php
Labels: [Type] Bug, [Component] Block Patterns

#242 Update theme description
  readme.txt
  style.css
Labels: [Type] Task

#240 Preload main web font to improve LCP performance
  functions.php
Labels: [Type] Enhancement

#244 Rename homepage template
  block-templates/page-large-header.html
  theme.json
Labels: [Type] Enhancement, [Component] Block Templates

#245 Update padding on subscribe pattern
  inc/patterns/general-subscribe.php
Labels: [Type] Bug, [Component] Block Patterns

#247 Fix header.html markup
  block-template-parts/header.html
Labels: [Type] Bug

#252 Tidy up patterns that use the "bird on salmon" images
  assets/images/bird-on-salmon-alt-crop.jpg
  assets/images/bird-on-salmon.jpg
  inc/patterns/general-two-images-text.php
  inc/patterns/page-about-media-left.php
Labels: [Type] Enhancement, [Component] Block Patterns

#257 Add about page on solid color background pattern
  inc/block-patterns.php
  inc/patterns/page-about-solid-color.php
Labels: [Type] Enhancement, [Component] Block Patterns

#258 Fix duplicate block pattern
  inc/block-patterns.php
  inc/patterns/footer-title-tagline-social-dark.php
  inc/patterns/footer-title-tagline-social.php
  inc/patterns/page-about-large-image-and-buttons.php
Labels: [Type] Bug

#260 Try new navigation block markup
  block-template-parts/header.html
  inc/patterns/footer-navigation-copyright.php
  inc/patterns/header-centered-logo-black-background.php
  inc/patterns/header-centered-logo.php
  inc/patterns/header-centered-title-navigation-social.php
  inc/patterns/header-default.php
  inc/patterns/header-image-background-overlay.php
  inc/patterns/header-image-background.php
  inc/patterns/header-large-dark.php
  inc/patterns/header-logo-navigation-offset-tagline.php
  inc/patterns/header-logo-navigation-social-black-background.php
  inc/patterns/header-small-dark.php
  inc/patterns/header-stacked.php
  inc/patterns/header-text-only-green-background.php
  inc/patterns/header-text-only-salmon-background.php
  inc/patterns/header-text-only-with-tagline-black-background.php
  inc/patterns/header-title-and-button.php
  inc/patterns/header-title-navigation-social.php
  inc/patterns/header-with-tagline.php
  inc/patterns/page-about-simple-dark.php
  inc/patterns/page-sidebar-blog-posts-right.php
Labels: [Type] Code Quality

#262 Experimental: Remove styles from template parts
  block-template-parts/footer.html
  block-template-parts/header-large-dark.html
  block-template-parts/header-small-dark.html
  block-template-parts/header.html
  block-templates/404.html
  block-templates/archive.html
  block-templates/home.html
  block-templates/index.html
  block-templates/page-large-header.html
  block-templates/page-no-separators.html
  block-templates/page.html
  block-templates/single-no-separators.html
  block-templates/single.html
  inc/patterns/hidden-404.php
Labels: [Type] Enhancement, [Type] Code Quality
